<div class="header">
    <div class="logo">
        <img style="height: 20 px; width: 20px" src="../../assets/spiral-icon.png">
    </div>

    <ul>
        <li class="active"><a href="#" routerLink="/home"><i class="fa fa-home" ></i>Home</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
        <li><a href="#" routerLink="/projects">Projects</a></li>
        <li><a href="#" routerLink="/devForum">Dev Forum</a></li>
    </ul>

</div>
<div class="title">
    <h1>SPIRAL RADIUS</h1>
</div>
<div class="button">
    <a href="#" class="btn">WATCH VIDEO</a>
    <a href="#" class="btn">BASIC SKILLS</a>
    <a href="#" class="btn">LEARN MORE</a>
</div>