.header {
    background-color: lightblue;
    display: flex;
    border-radius: 10px;
}
ul {
    margin-top: 10px;
    margin-botton: 20px;
    padding-top: 20px;
    list-style-type: none;
}
li{
	display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
}
li a {
    text-decoration: none;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 800;
}
li a:hover {
    color: red;
    background-color: white;
    border-radius: 5px;
}
/* ul li a{
	text-decoration: none;
	color: #fff;
	border: 1px solid transparent;
	transition: 0.5s ease;

} */
.logo img{
    width: 120px;
    height: 60px;
    padding: 10px 10px;
    padding-left: 20px;
	float: left;

}


